@model netcore.Models.Crm.Channel
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-th";
    ViewData["DeleteInfo"] = "Channel that already have transactions can not be deleted.";
    netcore.Models.Crm.Lead del = _context.Lead.Where(x => x.channelId.Equals(Model.channelId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (del == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.channelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.channelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.colorHex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.colorHex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>

</div>
