@model WebApp.Models.Employee

@{
    ViewData["Title"] = "Details For Employee";
}


<h1>@Html.DisplayFor(model => model.FullName)'s Details</h1>
<div class="row">
    <div class="col-sm-7">
        <a class="btn btn-info btn-md" asp-action="Edit" asp-route-id="@Model.EmpID">Edit</a> |
        <a class="btn btn-warning btn-md" asp-action="Index">Back to List</a>
    </div>
    <div class="col-sm-5">


    </div>
</div>
<hr />
<div class="row">
    <div class="detailBox">
        <div class="headerDtB">Contact info</div>
        <dl>
            <dd class="col-sm-7">
                <b>Name:</b> @Html.DisplayFor(model => model.FullName)
            </dd>
            <dd class="col-sm-7">
                <b>Email:</b> @Html.DisplayFor(model => model.Email)
            </dd>
            <dd class="col-sm-7">
                <b>Phone:</b>@Html.DisplayFor(model => model.Phone)
            </dd>
            <dd class="col-sm-7">
                <b>Role:</b>@Html.DisplayFor(model => model.EnumRoles)
            </dd>
        </dl>
    </div>
    <div class="column"></div>

    <div class="detailBox2">
        <div class="headerDtB">Current Projects</div>
        <hr />
        <center><a class="btn btn-warning btn-md" asp-area="" asp-controller="Project" asp-action="Create" role="button">Add a New Project</a></center>
        <hr />


        <table class="table">
            <thead>         <tr>             <th>                 Project Title:             </th>             <th>                 Due Date:             </th>             <th></th>         </tr>     </thead>
            <tbody>
                @foreach (var item in ViewBag.Project)
                {
                    if (Model.EmpID == item.EmployeeID)
                    {
                        <tr>                             <td>                                 @item.Name                             </td>                             <td>                                 @item.DueDate.ToString("dd-MMM-yy")                             </td>                             <td>                                 <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |                                 <a asp-action="Details" asp-route-id="@item.ID">Details</a> |                                 <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>                             </td>                         </tr>

                    }
                    else if (item.EmployeeID == null)
                    {
                        <tr>No Open Projects</tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="detailBox3">
    <div class="headerDtB">Employee Notes</div>
    <hr />
    <center><a class="btn btn-success btn-md" asp-area="" asp-controller="EmployeeNote" asp-action="Create" role="button">Add a New Note</a></center>
    <hr />
    <table class="table">
        <thead>         <tr>             <th>                 Note Title:             </th>             <th>                 Content:             </th>             <th></th>         </tr>     </thead>
        <tbody>
            @foreach (var item in ViewBag.EmployeeNote)
            {
                if (Model.EmpID == item.EID)
                {
                    <tr>                             <td>                                 @item.Title                             </td>                             <td>                                 @item.Content                             </td>                             <td>                                 <a asp-action="Edit" asp-route-id="@item.NoteID">Edit</a> |                                 <a asp-action="Details" asp-route-id="@item.NoteID">Details</a> |                                 <a asp-action="Delete" asp-route-id="@item.NoteID">Delete</a>                              </td>                         </tr>

                }
                else if (item.EID == null)
                {
                    <tr>
                        <td>No Open Notes</td>
                    </tr>
                }


            }
        </tbody>
    </table>

</div>