@model Tuple<WebApp.Models.Employee, WebApp.Models.Project, WebApp.Models.EmployeeNote>

@{
    ViewData["Title"] = "Details For Employee";
}

<h1>@Html.DisplayFor(model => model.Item1.FirstName)'s Details</h1>
<div class="row">
    <div class="col-sm-7">
        <a class="btn btn-info btn-md" asp-action="Edit" asp-route-id="@Model.Item1.EmpID">Edit</a> |
        <a class="btn btn-warning btn-md" asp-action="Index">Back to List</a>
    </div>
    <div class="col-sm-5">


    </div>
</div>
<hr />
<div class="row">
        <div class="detailBox">
            <div class="headerDtB">Contact info</div>
            <dl>
                <dd class="col-sm-7">
                    <b>Name:</b> @Html.DisplayFor(model => model.Item1.FullName)
                </dd>
                <dd class="col-sm-7">
                    <b>Email:</b> @Html.DisplayFor(model => model.Item1.Email)
                </dd>
                <dd class="col-sm-7">
                    <b>Phone:</b>@Html.DisplayFor(model => model.Item1.Phone)
                </dd>
                <dd class="col-sm-7">
                    <b>Role:</b>@Html.DisplayFor(model => model.Item1.EnumRoles)
                </dd>
            </dl>
        </div>
    <div class="column"></div>

        <div class="detailBox2">
            <div class="headerDtB">Current Projects</div>
            <br />
            <a class="btn btn-warning btn-md" asp-area="" asp-controller="Project" asp-action="Create" role="button">Add a New Project</a>
            <dl>
                <dd class="col-sm-7">
                    <b>Project Name:</b> @Html.DisplayFor(model => model.Item2.Name)
                </dd>
                <dd class="col-sm-7">
                    <b>Due Date:</b> @Html.DisplayFor(model => model.Item2.DueDate)
                </dd>
            </dl>
        </div>
</div>
<hr />
<div>
    <dl>
        This is where I am going to add list of notes and projects
    </dl>
</div>
<div class="detailBox3">
    <div class="headerDtB">Employee Notes</div>
    <br />
    <a class="btn btn-success btn-md" asp-area="" asp-controller="EmployeeNote" asp-action="Create" role="button">Add a New Note</a>
    <dl>
        <dd class="col-sm-7">
            <b>Note Title:</b> @Html.DisplayFor(model => model.Item3.Title)
        </dd>
        <dd class="col-sm-7">
            <b>Content:</b> @Html.DisplayFor(model => model.Item3.Content)
        </dd>
    </dl>
</div>



