@model IEnumerable<WebApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Employees</h1>

<p>
    <a asp-action="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumRoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnumRoles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
